In [ ]:
#1.
x=16-2*5//3+1
print(x)
#computed 2*5=10
#computed 3+1=4
#10//4=2
#16-2=14

y=2**3*3
print(y)
#2**3=2*2*2=8
#8*3=24

In [ ]:
#2.
z=(6*1)-2
z
w=6*(1-2)
w

In [ ]:
#3.
radius=7
PI=22/7
Area= (PI*radius**2)
Area
print("The Area is = "+str(Area))

In [ ]:
#4.
x=[0,1,2,3,4,5]
3 in x

In [ ]:
#5.
x=25
y=100
#a.
z1=x<y and y>x
#b.
z2=x<y or y<x
#c.
z3=not(x<y and y>x)
print(z1)
print(z2)
print(z3)

In [ ]:
#6.
list=[12.2,5,7,8,9,2.5,2.7,8.9]
x=sum(list)
print(x)

In [ ]:
#7.
list1=[3,5,1,3,9,5,7]
list1.sort()
list1

In [ ]:
#8.
list2 = [1, 2, 5, 7, 9, 0, 3, 6, 7, 1, 3, 5, 6, 8, 2, 9, 0, 5, 2, 1, 2, 4, 2]
count_2= list2.count(2)
print(count_2)

In [91]:
#9.
list3 =["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22]), 100, 85.5, 12.4, "Promise", ("11", 90)]

a=list3[3][2][1][0]
a

b=list3[3][-2]
b

c=list3[4]
c


d=list3[-4]
d

e=list3[-1][1]
e
classmates=[a,b,c,d,e]
print (classmates)

print("{} couldn\'t score {}%,she got {}%,However,{} is a close second with {}%.".format(classmates[0],classmates[2],classmates[4],classmates[1],classmates[3]))

In [ ]:
#10.

list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

list4[1]= "Faith"

In [ ]:
#11.
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
list4 [2]

In [ ]:
#12.
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
list4.append('Faith')

In [ ]:
#13.
sets = {3, 1, 10, 4, 5, 6}

#Set {} is immutable, doesn't allow indexing, slicing etc,
#once it is created it cannot be changed.

print(sets)

In [ ]:
#14.
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3=set1.union(set2)
set3

In [ ]:
#15.
#create a string
n=("Computer data information hardware software CPU Keyboard Mouse")

#turn the string into a list of words

mylist=n.split()
print(mylist)

#two methods to a delete a words from the list

#a.
mylist2=mylist.remove("information")
print(mylist2)
a=mylist
a

#b.
mylist3 = mylist.pop(1)
print(mylist3)
b=mylist
b

#sort the list.
mylist4=mylist.sort()
print(mylist4)
c=mylist
c

#add two new words to the list
mylist5=mylist.append("Architecture")
print(mylist5)
d=mylist
d

mylist6=mylist.insert(2,"ABACUS")
print(mylist6)
e=mylist
e

#join the list of words into a sinle dtrin uisng join
s=' '.join(e)
s